# === Node.js / 前端项目常用忽略项 ===
node_modules/
dist/
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

package-lock.json
yarn.lock

# 测试报告和覆盖率
tests/**/coverage/
tests/e2e/reports
selenium-debug.log

# 编辑器配置
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
*.code-workspace
.history/

# === Visual Studio 项目常用忽略项 ===
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates
*.vcxproj.user
*.vcxproj.filters
*.pdb
*.obj
*.exe
*.log
*.tmp
*.ilk
*.cache
*.aps
*.ncb
*.sdf
*.opendb
*.VC.db
*.VC.opendb
*.tlog
*.scc

# bin/obj 输出目录
bin/
obj/
Debug/
Release/

# Azure / Publish 相关
*.publish.xml
*.azurePubxml
PublishScripts/
publish/

# NuGet
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

# Others
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
*.vspscc
*.vssscc
*.rptproj.bak
*.tmp_proj
*.tmp
